@font-face {
    font-family:iSansFont;
    src:url("DejaVuSans.ttf");
}
@font-face {
    font-family:iSerifFont;
    src:url("DejaVuSerif.ttf");
}
@font-face {
    font-family:iAwesomeFont;
    src:
       url("fontawesome-webfont.eot?") format("eot"),
       url("fontawesome-webfont.woff") format("woff"),
       url("fontawesome-webfont.ttf") format("truetype");
}
body {
    font-family:iSansFont,sans-serif;
    font-size:14px;
    line-height:14px;
}
a,
a:active,
a:focus,
a:hover {
    text-decoration:none;
    outline:0;
    color:#333333;
}
.iSerif {
    font-family:iSerifFont,serif;
}
.iAwesome {
    font-family:iAwesomeFont,sans-serif;
}
.iBWhite {
    background-color:#FFFFFF;
}
.iBGrayLight {
    background-color:#F0F0F0;
}
.iBGray {
    background-color:#E7E7E7;
}
.iBGrayDark {
    background-color:#B8BEBF;
}
.iBBlackLight {
    background-color:#7C7C7C;
}
.iBBlack {
    background-color:#333333;
}
.iBBlackDark,
a:hover .iHBBlackDark {
    background-color:#111111;
}
.iBZero,
a:hover .iHBZero {
    background-color:#000000;
}
.iBRedLight,
a:hover .iHBRedLight {
    background-color:#6F4062;
}
.iBRed,
a:hover .iHBRed {
    background-color:#603153;
}
.iBA,
a:hover .iHBA {
    background-color:#603153;
}
.iBB,
a:hover .iHBB {
    background-color:rgba(235, 228, 232, 0.67);
}
.iBC,
a:hover .iHBC {
    background-color:rgba(230, 235, 230, 0.67);
}
.iBD,
a:hover .iHBD {
    background-color:rgba(218, 218, 235, 0.67);
}
.iBE,
a:hover .iHBE {
    background-color:#6F4062;
}
.iBF {
    background-color:rgba(0, 0, 0, 0.67);
}
a:hover .iHBF {
    background-color:rgba(96, 49, 83, 0.5);
}
.iWhite,
a:hover.iHWhite,
a:hover .iHWhite {
    color:#FFFFFF;
}
.iGrayLight,
a:hover .iHGrayLight {
    color:#F0F0F0;
}
.iGray,
a:hover.iHGray,
a:hover .iHGray {
    color:#E7E7E7;
}
.iGrayDark {
    color:#B8BEBF;
}
.iBlackLight {
    color:#7C7C7C;
}
.iBlack {
    color:#333333;
}
.iBlack,
a:hover .iHBlack {
    color:#333333;
}
.iBlackDark {
    color:#000000;
}
.iRedLight,
a:hover.iHRedLight,
a:hover .iHRedLight {
    color:#6F4062;
}
.iRed,
a:hover.iHRed,
a:hover .iHRed {
    color:#603153;
}
#iLayout {
    overflow:hidden;
    width:100%;
    height:100%;
}
.iNavBar {
    display:none;
    top:0px;
    width:100%;
    border-style:solid;
    border-color:#F0F0F0;
    border-width:0px 0px 2px 0px;
}
.iNavBox {
    display:table-cell;
}
.iNavBoxW {
    width:17%;
}
.iNavBoxH {
    height:auto;
}
.iNavItem {
    display:block;
}
.iAbove {
    padding-top:33px;	
}
.highlightContainer {
    width:100%;
    height:3px;
}
.highlightBig {
    width:100%;
    height:100%;
}
.highlightContent {
    width:100%;
    height:100%;
}
.highlightBox {
    position:absolute;
    top:-34px;
}
.highlightItem {
    float:left;
    width:17%;
    height:3px;
}
.highlightActive {
    background-color:#603153;
}
.highlightFirst {
    width:15%;
}
.iCropBox {
    margin:7px;
}
.iHeader {
    height:70px;
    font-size:2em;
    line-height:1em;
}
.iTable.iHeader {
    width:100%;
}
.iHeaderContainer {
    display:table-row;
}
.iHeaderSpacer {
    display:table-cell;
    height:70px;
}
.iHeaderBefore {
    width:1%;
}
.iHeaderContent {
    display:table-cell;
    height:70px;
    padding:0% 1% 0% 0%;
    vertical-align:middle;
}
.iHeader1 {
    font-size:3em;
}
.iHeader2 .iHeaderBefore {
    width:16%;
}
.iHeader3 .iHeaderBefore {
    width:33%;
}
.iHeader4 {
    text-align:right;
}
.iHeader4 .iHeaderContent {
    width:65%;
}
.iHeader5 {
    text-align:right;
}
.iHeader5 .iHeaderContent {
    width:82%;
}
.iHeader6 {
    text-align:right;
}
.iHeader6 .iHeaderContent {
    width:99%;
}
.iLandingBox {
    background:rgba(51, 51, 51, 1);
    background:-moz-linear-gradient(top, rgba(51, 51, 51, 1) 0%, rgba(184, 190, 191, 1) 33%, rgba(255, 255, 255, 1) 100%); /* Firefox 3.6 - 15 */
    background:-ms-linear-gradient(top, rgba(51, 51, 51, 1) 0%, rgba(184, 190, 191, 1) 33%, rgba(255, 255, 255, 1) 100%); /* IE 10 */
    background:-o-linear-gradient(top, rgba(51, 51, 51, 1) 0%, rgba(184, 190, 191, 1) 33%, rgba(255, 255, 255, 1) 100%); /* Opera 11.1 - 12.0 */
    background:-webkit-linear-gradient(top, rgba(51, 51, 51, 1) 0%, rgba(184, 190, 191, 1) 33%, rgba(255, 255, 255, 1) 100%); /* Safari 5.1 - 6.0 */
    background:linear-gradient(to bottom, rgba(51, 51, 51, 1) 0%, rgba(184, 190, 191, 1) 33%, rgba(255, 255, 255, 1) 100%);
}
.iBVideo1 {
    background:rgba(255, 255, 255, 0);
    background:-moz-linear-gradient(top, rgba(255, 255, 255, 0) 70%, rgba(184, 190, 191, 1) 100%); /* Firefox 3.6 - 15 */
    background:-ms-linear-gradient(top, rgba(255, 255, 255, 0) 70%, rgba(184, 190, 191, 1) 100%); /* IE 10 */
    background:-o-linear-gradient(top, rgba(255, 255, 255, 0) 70%, rgba(184, 190, 191, 1) 100%); /* Opera 11.1 - 12.0 */
    background:-webkit-linear-gradient(top, rgba(255, 255, 255, 0) 70%, rgba(184, 190, 191, 1) 100%); /* Safari 5.1 - 6.0 */
    background:linear-gradient(to bottom, rgba(255, 255, 255, 0) 70%, rgba(184, 190, 191, 1) 100%);
}
.iBVideo2 {
    background:rgba(184, 190, 191, 1);
    background:-moz-linear-gradient(top, rgba(184, 190, 191, 1) 70%, rgba(255, 255, 255, 1) 100%); /* Firefox 3.6 - 15 */
    background:-ms-linear-gradient(top, rgba(184, 190, 191, 1) 70%, rgba(255, 255, 255, 1) 100%); /* IE 10 */
    background:-o-linear-gradient(top, rgba(184, 190, 191, 1) 70%, rgba(255, 255, 255, 1) 100%); /* Opera 11.1 - 12.0 */
    background:-webkit-linear-gradient(top, rgba(184, 190, 191, 1) 70%, rgba(255, 255, 255, 1) 100%); /* Safari 5.1 - 6.0 */
    background:linear-gradient(to bottom, rgba(184, 190, 191, 1) 70%, rgba(255, 255, 255, 1) 100%);
}
.iLandingHeader {
    width:100%;
    height:100%;
    font-size:3em;
    line-height:1em;
}
.iLandingText {
    font-size:1.5em;
    line-height:1em;
    padding:7px;
}
.iLandingText1 {
    display:none;
}
.iLandingText2 {
    display:none;
}
.iLandingCell {
    margin:7px;
}
.iTourTxt {
    height:2.5em;
    font-size:1.5em;
    line-height:1em;
}
.iVideoHeader {
    height:70px;
    font-size:2em;
    line-height:1em;
}
.video {
    display:block;
    border:0px;
}
.iVideo1 {
    height:87.80%;
    width:100%;
}
.iBadgeContainer {
	float:left;
	width:50%;
    height:12.20%;
    font-size:12.20%;
    line-height:1em;
}
.iBadgeTop {
    width:100%;
    height:100%;
    font-size:1px;
}
.iBadgeImg {
    width:37.50%;
    vertical-align:middle;
}
.iBadgeLink {
    width:100%;
    height:2em;
    padding-bottom:0px;
}
.iBadgeBottom {
    float:left;
    width:50%;
}
.iTextBox {
    padding:1em;
    font-size:1.5em;
    line-height:1em;
}
.iEnd {
    opacity:0;
}
.iOverlay {
    position:fixed;
    top:0px;
    left:0px;
    z-index:200;
}
.iContactBox {
	position:relative;
}
.iContactHeader {
    font-size:1.5em;
    line-height:1em;
	top:-26px;
    height:70px;
}
.iContactContainer {
	margin-top:44px;
    padding-top:2em;
    background:rgba(255, 255, 255, 1);
    background:-moz-linear-gradient(top, rgba(6, 6, 6, 1) 0%, rgba(184, 190, 191, 1) 10%, rgba(255, 255, 255, 1) 25%); /* Firefox 3.6 - 15 */
    background:-ms-linear-gradient(top, rgba(6, 6, 6, 1) 0%, rgba(184, 190, 191, 1) 10%, rgba(255, 255, 255, 1) 25%); /* IE 10 */
    background:-o-linear-gradient(top, rgba(6, 6, 6, 1) 0%, rgba(184, 190, 191, 1) 10%, rgba(255, 255, 255, 1) 25%); /* Opera 11.1 - 12.0 */
    background:-webkit-linear-gradient(top, rgba(6, 6, 6, 1) 0%, rgba(184, 190, 191, 1) 10%, rgba(255, 255, 255, 1) 25%); /* Safari 5.1 - 6.0 */
    background:linear-gradient(to bottom, rgba(6, 6, 6, 1) 0%, rgba(184, 190, 191, 1) 10%, rgba(255, 255, 255, 1) 25%);
}
.iContactLink {
	display:block;
    padding-bottom:8em;
}
.iFooterBox {
    height:3em;
}
.iFooterContainer {
    display:inline-table;
}

.iLayout1 .iNavBar1 {
    display:table;
    height:32px;
}
.iLayout1 .iLandingText1 {
    display:table-cell;
}

.iLayout2 .iNavBar2 {
    display:block;
    width:100%;
    height:auto;
}
.iLayout2 .iNavBar2 .iTable {
    display:inline-table;
    width:100%;
    height:100%;
}
.iLayout2 .iLandingText2 {
    display:table-cell;
}
.iLayout2 .iBadgeBottom {
    display:none;
}
.iLayout2 .iHeader {
    height:56px;
    font-size:1.5em;
    text-align:center;
}
.iLayout2 .iHeaderBefore {
    width:1%;
}
.iLayout2 .iHeaderSpacer {
    height:56px;
}
.iLayout2 .iHeaderContent {
    width:99%;
    height:56px;
}
.iLayout2 .iHeader1 {
    font-size:2em;
    text-align:left;
}
.iLayout2 .iHeader6 {
    text-align:right;
}
.iLayout2 .iLandingText {
    font-size:1em;
    padding:1px;
}
.iLayout2 .iCropBox {
    margin:1px;
}
.iLayout2 .iTextBox {
    padding:0.5em;
    font-size:1em;
}
.iLayout2 .iContactHeader {
    top:-19px;
    font-size:1.5em;
    height:52px;
}
.iLayout2 .iContactContainer {
	margin-top:33px;
}
.iLayout2 .iContactLink {
    padding-bottom:3em;
}
.iLayout2 .iFooterBox {
    display:none;
}

.iLayout3 .iBE {
    display:none;
}
.iLayout3 .iNavBar2 {
    display:block;
    right:0px;
    width:35px;
    height:100%;
    border-width:0px 0px 0px 2px;
}
.iLayout3 .iNavBar2 .iTable {
    display:table;
    width:100%;
    height:100%;
}
.iLayout3 .iNavBox {
    display:table-row;
}
.iLayout3 .iNavBoxW {
    width:auto;
}
.iLayout3 .iNavBoxH {
    height:17%;
}
.iLayout3 .iNavItem {
    display:table-cell;
}
.iLayout3 .iAbove {
    padding-top:0px;   
}
.iLayout3 .highlightContainer {
    right:37px;
    width:135px;
    height:100%;
}
.iLayout3 .highlightBox {
    top:auto;
}
.iLayout3 .highlightItem {
    float:left;
    width:135px;
    height:17%;
}
.iLayout3 .highlightFirst,
.iLayout3 .highlightFirst.iHeader {
    height:15%;
}
.iLayout3 .iHeader {
    left:auto;
    right:37px;
    width:135px;
    height:17%;
}
.iLayout3 .iTable.iHeader {
    display:block;
    height:100%;
    font-size:1.5em;
    text-align:center;
}
.iLayout3 .iHeaderContainer {
    display:table;
    height:100%;
    width:100%;
}
.iLayout3 .iHeaderSpacer {
    display:table-row;
    height:auto;
}
.iLayout3 .iHeaderSpacer div {
    display:table-cell;
}
.iLayout3 .iHeaderContent {
    display:table-row;
    height:auto;
}
.iLayout3 .iHeaderContent div {
    display:table-cell;
    height:13%;
    vertical-align:middle;
}
.iLayout3 .iHeader1 .iHeaderBefore div {
    height:1%;
}
.iLayout3 .iHeader2 .iHeaderBefore div {
    height:17%;
}
.iLayout3 .iHeader3 .iHeaderBefore div {
    height:34%;
}
.iLayout3 .iHeader4 .iHeaderBefore div {
    height:51%;
}
.iLayout3 .iTable.iHeader5 {
    display:none;
}
.iLayout3 .iHeader6 .iHeaderBefore div {
    height:85%;
}
.iLayout3 .iBadgeBottom {
    display:none;
}
.iLayout3 .iLandingHeader {
    float:left;
    width:135px;
    height:100%;
    font-size:2em;
    line-height:1em;
}
.iLayout3 .iLandingText {
    font-size:1em;
    padding:1px;
}
.iLayout3 .iLandingText2 {
    display:table-cell;
}
.iLayout3 .iCropBox {
    margin:1px;
}
.iLayout3 .iVideoHeader {
    float:left;
    width:135px;
    height:100%;
    font-size:1.5em;
    line-height:1em;
}
.iLayout3 .iTextBox {
    padding:0.5em;
    font-size:1em;
}
.iLayout3 .iContactHeader {
    top:-19px;
    font-size:1.5em;
    height:52px;
}
.iLayout3 .iContactContainer {
    margin-top:33px;
}
.iLayout3 .iContactLink {
    padding-bottom:3em;
}
.iLayout3 .iFooterBox {
	display:none;
}
.iLayout3 .iContentBox {
    float:left;
}
